In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

**Objectives:**

- List popular languages for Data Science
- Highlight commonly used libraries in Data Science
- Showcase open source tools used in Data Science
- Demonstrate arithmetic expression examples in Python
- Explore code examples for converting units of time

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| VS Code                |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
x=200/60
print(str(x)+' hours')

3.3333333333333335 hours

## Author
Hadil Sahraoui